body {
	font-family: sans-serif;
}

body code {
	font-size: 1.2em;
	display: block;
}

#tab-container {
	display: flex;
	flex-direction: column;
}

body code.title {
	font-size: 1.6em;
}

.tile-group {
	margin: 30px 0;
	margin-left: 2.5vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-content: space-between;
	gap: 5vw;
}

.tile-group .tile {
	width: 20vw;
}

.tile-group .tile .content .title {
	position: relative;
	font-size: 1.2em;
	opacity: 1;
	transition: opacity 150ms;
	letter-spacing: 2px;
	margin-top: 5px;
}

.tile-group .tile .review {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: fill;
	aspect-ratio: 18/9;
}

.tile-group .tile .review-container:hover * {
	transform: scale(2);
}

.review-container {
	position: relative;
}

.discarded {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0007;
	display: flex;
	justify-content: center;
	align-items: center;
}

.unbox img {
	width: 16px;
	height: 16px;
	filter: invert(23%) sepia(50%) saturate(7405%) hue-rotate(353deg) brightness(95%) contrast(127%);
}

.unbox {
	position: relative;
	top: 3px;
	cursor: pointer;
}

.discarded + img {
	opacity: 0.5;
}

.discarded img {
	width: 48px;
	height: 48px;
}
.ttl {
	position: relative;
	top: -4px;
}