<html>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/index.css">
<body>
  <div class="container">
    <a class="notWorking" href="https://attendance.moneyforward.com/my_page">Open MF-Attendance</a>
    <div class="btnAction">
      <div class="btnGroup">
        <span class="clock">8:00:00</span>
        <img class="gearIcon" src="/images/gear.png">
        <img class="syncIcon" src="/images/cloud-sync.png">
        <div id="startBtn"></div>
        <div id="stopBtn"></div>
      </div>
      <div class="message">Service stopped</div>
      <div class="clickInfo">
        <div class="clockIn" data-editable="inTime">8:00:00</div>
        <div class="startBreak" data-editable="breakTime">12:00:00</div>
        <div class="endBreak" data-editable="resumeTime">13:00:00</div>
        <div class="clockOut" data-editable="outTime">17:00:00</div>
      </div>
    </div>
  </div>

  <script src="/scripts/popup/index.js"></script>
</body>
</html>